maincontentWidth = 1200px;
backgroundcolor = #fff;

fontsize-more = 25px;
fontsize-normal = 18px;
lineheight-normal = 22px;

a
  text-decoration: none
  color: black
body
  margin: 0 auto
  background: backgroundcolor
html
  min-width: maincontentWidth
